@import "variables";

body {

}

header {
  background-color: $beige;

  .container {
    max-width: $width-container;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header__wrapper {

  }

  .logo {

  }

  .menu {

  }

  .menu__list {

  }

  .menu__list-item {

  }

  .menu__list-link {

  }

  .phone {

  }
}
