@import "variables";



header {
  background-color: $beige;

  .container {

  }

  .header__wrapper {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {

  }

  .menu {

  }

  .menu__list {

  }

  .menu__list-item {

  }

  .menu__list-link {

  }

  .phone {
    position: relative;
    &::before{
      content: '';
      background-image: url("../images/phone.svg");
      width: 20px;
      height: 20px;
      left: -23px;
      top: -3px;
      position: absolute;
    }
  }
}
