@import "variables";

.container {
  max-width: $width-container;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-link {
  text-transform: uppercase;
}